<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT US</title>
    <link rel="stylesheet" href="static/contact.css">
</head>
<body>
    {% include "header.html" %}
    <div class="container">
        <form>
            <h1>Contact Us Form</h1>
            <input type="text" id="name" placeholder="Name" required>
            <input type="email" id="name" placeholder="Email" required>
            <h4>Type Your Message Here....</h4>
            <textarea required></textarea>
            <button class="btn" type="submit" value="submit">
                SUBMIT
            </button>
        </form>
    </div>
</body>
</html>